/* Fonts */

@font-face {
  font-family: "IRANSans-web";
  src: url("./../fonts/IRANSans-Bold-web.eot");

  src: url("./../fonts/IRANSans-Bold-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./../fonts/IRANSans-Bold-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./../fonts/IRANSans-Bold-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./../fonts/IRANSans-Bold-web.ttf")
      format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("./../fonts/IRANSans-Medium-web.eot");

  src: url("./../fonts/IRANSans-Medium-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./../fonts/IRANSans-Medium-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./../fonts/IRANSans-Medium-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./../fonts/IRANSans-Medium-web.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("./../fonts/IRANSans-UltraLight-web.eot");

  src: url("./../fonts/IRANSans-UltraLight-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./../fonts/IRANSans-UltraLight-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./../fonts/IRANSans-UltraLight-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./../fonts/IRANSans-UltraLight-web.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("./../fonts/IRANSans-Light-web.eot");

  src: url("IRANSans-Light-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./../fonts/IRANSans-Light-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./../fonts/IRANSans-Light-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./../fonts/IRANSans-Light-web.ttf")
      format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("./../fonts/IRANSans-web.eot");

  src: url("./../fonts/IRANSans-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./../fonts/IRANSans-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./../fonts/IRANSans-web.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./../fonts/IRANSans-web.ttf")
      format("ttf");
  font-weight: normal;
}

.IRANSansBold {
  font-family: IRANSans-web;
  color: #000;
  margin-right: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  font-weight: bold;
}

.IRANSansMedium {
  font-family: IRANSans-web;
  color: #000;
  margin-right: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  font-weight: 500;
}

.IRANSansUltraLight {
  font-family: IRANSans-web;
  color: #000;
  /* margin-right: 50px; */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  font-weight: 200;
}

.IRANSansLight {
  font-family: IRANSans-web;
  color: #000;
  margin-right: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  font-weight: 300;
}

.IRANSans {
  font-family: IRANSans-web;
  color: #000;
  margin-right: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  font-weight: normal;
}
/* Fonts */

* {
  font-family: IRANSans-web;
  color: #404040;
}

main{
  padding-top: 6rem;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  background: white;
  padding: 0;
}

.row {
  max-width: 100%;
  margin: 0;
}

header {
  font-size: 15.2px;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

header > .navbar > .container-fluid {
  background: #fff;
}

footer {
  background: white;
}

footer .navbar {
  background: white;
}
/******** Main section ********/

section .request-phone-r {
  background-color: #21aa58;
  padding: 1rem 6rem 1rem 3rem;
  color: white;
}

section .request-phone-r h1 {
  font-size: 36px;
  color: white;
}

section .request-phone-r p {
  font-family: IRANSans-web;
  letter-spacing: 2px;
  color: white;
}

section .request-phone-r .btn-send-phone {
  background-color: white !important;
  color: #21aa58;
  width: 7rem;
}

section .request-phone-l {
  max-width: 100%;
}

/******** app-forevery-one ********/

.app-forevery-one {
  background: #f2f5f8;
}

.app-forevery-one h3 {
  font-size: 1rem;
}

.app-forevery-one .card-every-one {
  border-radius: 20px;
}

/******** app-forevery-one ********/
/*********************************/
/******** slider-index ********/

.slider-index .carousel-inner {
  border-radius: 10px;
}

/******** slider-index ********/
/*********************************/
/******** easy-fast-echo-index ********/

.easy-fast-echo-index .card-image-index {
  background: #f2f5f8;
  border-radius: 1rem;
}

/*********************************/
/******** easy-fast-echo-index ********/
/*********************************/

.supper-app-index img {
  height: 90vh;
  min-height: 520px;
  width: 100%;
}

/******** supper-app-index ********/
/*********************************/
/******** invite-to-snapp-vedio ********/
/*********************************/

.invite-to-snapp-vedio {
  background: #f2f5f8;
  text-align: center;
}

.invite-to-snapp-vedio button {
  background-color: rgb(0, 209, 112);
  color: white;
}

.invite-to-snapp-vedio .card {
  border-radius: 15px;
}
/******** invite-to-snapp-vedio ********/
/*********************************/

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 768px) {
  .section-badge-icon {
    display: none;
  }

  .app-forevery-one .card-every-one {
    margin: 1rem !important;
  }

  .app-forevery-one h3 {
    text-align: center;
  }

  .app-forevery-one p {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .main-section .phone-request-form {
    display: none;
  }
}
